<footer>
    <div class="footer">
        <div class="redes-sociales">
            <div class="card-net">
                <div class="net">
                    <img src="../../../assets/img/facebook.png" alt="">
                </div>
            </div>
            <div class="card-net">
                <div class="net">
                    <img src="../../../assets/img/youtube.png" alt="">
                </div>
            </div>
            <div class="card-net">
                <div class="net">
                    <img src="../../../assets/img/instagram.png" alt="">
                </div>
            </div>
            <div class="card-net">
                <div class="net">
                    <img src="../../../assets/img/whatsapp.png" alt="">
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="item-copyright">
                <p>&copy; 2024 Alhilaltech. Todos los derechos reservados. | Author design - Luis Carlos Espitia Amín</p>
            </div>
            <div class="item-copyright"></div>
        </div>

    </div>
</footer>