/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: monospace, "Helvetica Neue", sans-serif;
 }

 p{ font-family: monospace }
h1,h2,h3,h4,h5{ font-family: monospace !important; color: white; }
button{ font-family: monospace !important }
span{ font-family: monospace }

.shadow {
    box-shadow: 2px 2px 5px #999;
}